
.btn{
    background-color: #16aace;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    /* width: 190px; */
}

.btn{
    background-color: #16aace;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    /* width: 190px; */
        padding: 10px 50px;
        margin: 10px;
        border: none;
}

/* TENTH CONTAINER BUTTONS */

.btn1{
    margin: 30px 20px;
    border: none;
    color: #000;
    padding: 7px 22px;
    font-size: 14px;
    background: #f3f4f4 0 0 no-repeat padding-box;
    border-radius: 40px;
    cursor: pointer;
}

.btn1:hover{
    color: #fff;
    transition: .5s ease;
    box-shadow: 0 13px 15px -10px rgba(0,0,0,.59);
    text-decoration: none;
    background: transparent linear-gradient(90deg,#15abd0,#43b388) 0 0 no-repeat;
}

@media screen and (max-width: 791px) {
    .btn1 {
        margin: 5px;
    }
}